body {
  font-family: Arial, sans-serif;
  font-size: large;
  line-height: 1.6;
  margin: 20px auto; /* Ajout de marges en haut et en bas */
  max-width: 800px;
  padding: 20px;
  color: #feffff;
  background-image: url("../res/css-image/sky.png");
  background-size:cover;
  background-repeat: no-repeat;
}
body>section{
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 15px; /* Arrondi les coins de la bordure */
  background-color: rgb(0,125,189,0.5);
}

h1, h2 {
  color: #101e29;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

h3 img {
  width: 48px;
  height: 48px;
}

p, ul, ol {
  margin-bottom: 20px;
}

section>ul, ol {
  margin-left: 20px;
}

#table-of-contents li{
  font-family:monospace;
  font-size: 20px;
  color: #85f5e5;
}

code {
  background-color: none;
  border: 1px solid #85f5e5;
  border-radius: 3px;
  display: block;
  font-family: Menlo, Monaco, monospace;
  margin-bottom: 15px;
  padding: 10px;
  white-space: pre-wrap;
}

a {
  color: #85f5e5;
  text-decoration: none;
  border: 1px solid #85f5e5;
  padding: 2px;
  border-radius: 3px;

}

a:hover {
  color: #feffff;
}

code {
  background-color: #9ad47d;
  border-color: #9ad47d;
  color: #4b9620;
}

ul img {
  margin-left: 150px ;
  width: 150px;
  border-color: none;
}
ul li a[href="https://linktr.ee/Gaspard4i"]{
  border: none;
  border-color:none;
  display:block; 
}

