# Ignorer les fichiers compilés Java
*.class

# Ignorer les fichiers binaires et les fichiers générés automatiquement
bin/
log/
doc/
lib/

# Ignorer les fichiers de configuration
config/
.idea/
.vscode/

# Ignorer les fichiers temporaires et de sauvegarde
*.tmp
*~

# Ignorer les fichiers de dépendances téléchargés
*.jar

# Ignorer les fichiers de compilation ou les fichiers générés
target/

# Ignorer les fichiers de données et de tests
data/
test/
results/

# Ignorer les fichiers spécifiques au système d'exploitation
Thumbs.db
.DS_Store
